

/* message layout */
.message_bar {
    width: 95%;
    border: 1px solid white;
    border-radius: 6px;
    padding: 5px;
    background-color: rgb(150,150,150);
}

.message_field {
    border: none;
    padding: 5px;
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content: space-between;
}
.input_field {
    border: none;
    outline: none;
    color: white;
    width: 100%;
    background-color: rgb(150,150,150);
}

::placeholder {
    color: white;
}

.message_interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    align-self: flex-end;
    margin-bottom: 30px;
}

/* sidebar & memberlist */
.sidebar, .sidebar_right {
    height: 100%;
    width: 15%;
    outline: none;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgb(29,97,194);
    color: white;
}
.sidebar_right.hidden, .message_interface.hidden {
    display: none;
}
.sidebar_content {
    margin: 0 20px;
}
.sidebar_headers {
    display: flex;
    justify-content: space-between;
}
.plus_buttons, .cdm_buttons{
    background-color: rgb(29,97,194);
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
.cdm_buttons {
    font-size: 16px;
}

/* message log */

.message_log {
    width: 95%;
    display: flex;
}
.message_name {
    font-size: 20px;
    font-weight: 700;
}
.message_time {
    margin-left: 30px;
}
.user_icon {
    width: 40px;
    height: 40px;
    margin: 20px 10px;
}

/* add channel popup */
.form_popup {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    display: none;
    justify-content: center;
    align-items: center;
}
.form_popup.active {
    display: flex;
}

.form_content {
    height: 300px;
    width: 350px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.form label {
    margin-left: 30px;
    font-size: 20px;
}

.form input {
    margin: 10px auto 0 auto;
    display: block;
    width: 80%;
    padding: 8px;
}

.form #submit {
    border-radius: 25px;
    font-size: 1.5rem;
    color: white;
    border: 2px solid transparent;
    background-color: rgb(29,97,194);
    margin-top: 30px;
    cursor: pointer;
}
.close_btn {
    position: absolute;
    width: 15px;
    top: 10px;
    right: 10px;
    cursor: pointer;
}