
/* message layout */
.logout{
    display: flex;
    position: absolute;
    right: 100px;
    bottom: 20px;
    font-size: 1em;
    color: white;
    background-color: rgb(29,97,194);
    padding: 5px 10px;
    border-radius: 10px 10px;
    font-weight: bold;
    border: 2px solid white;
}

.message_bar {
    width: 95%;
    border: 1px solid white;
    border-radius: 6px;
    padding: 5px;
    margin: 10px;
    background-color: rgb(80, 80, 80);
}

.message_field {
    border: none;
    padding: 5px;
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content: space-between;
    
}
.input_field {
    border: none;
    outline: none;
    color: white;
    width: 100%;
    background-color: rgb(80, 80, 80);
}

::placeholder {
    color: #a9a9a9;
}

.message_interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    align-self: flex-end;
    margin-bottom: 30px;
    height: 95vh;
    justify-content: flex-end;
    border: 20px solid rgb(240,240,240);
}

/* sidebar & memberlist */
.sidebar, .sidebar_right {
    height: 100%;
    width: 15%;
    outline: none;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgb(240,240,240);
    color: white;
    
}
.logo-sidebar{
    margin: 40px 0;
    width: 13vw;
}

.sidebar {
    border-right: 1px solid white;
}
.sidebar_right {
    color: rgb(124,125,127);
    border-left: 1px solid white;
}
.sidebar_right.hidden, .message_interface.hidden {
    display: none;
}
.sidebar_content {
    margin: 0 20px;
}
.sidebar_headers {
    display: flex;
    color: rgb(29,97,194);
    justify-content: space-between;
}
.plus_buttons {
    color: rgb(29,97,194);
}
.plus_buttons, .cdm_buttons{
    border: none;
    font-size: 30px;
    cursor: pointer;
    height: 4vh;    
    display: flex;
    align-items: center;
}
.cdm_buttons {
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(124,125,127);
    background-color: transparent;
}

.cdm_buttons_bg:hover{
    background-color: #d4d4d4;
}

.cdm_buttons:hover{
    background-color: #d4d4d4;
}

/* message log */
.message_title {
    color: rgb(29,97,194);
    margin-bottom: 30px;
}
.message_log {
    background-color: white;
    border: #a9a9a9;
    border-radius: 10px 10px;
    color: rgb(40, 40, 40);
    font-weight: 500;
    height: 70vh;
    width: 95%;
    height: 80%;
    display: flex;
    flex-direction: column-reverse;
    overflow: scroll;
}
.channel_content, .user_content {
    height: 32vh;
    overflow: scroll;
}
.message_log::-webkit-scrollbar, .channel_content::-webkit-scrollbar, .user_content::-webkit-scrollbar  {
    display: none;
}
.message_content{ 
    padding: 0 0 10px 20px;
}
.message_name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: rgb(29,97,194);
    margin-top: 25px;
    margin-left: -10px;
}
.message_time {
    margin-left: 30px;
}

/* add channel popup */
.form_popup {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    display: none;
    justify-content: center;
    align-items: center;
}
.form_popup.active {
    display: flex;
}

.form_content {
    height: 300px;
    width: 350px;
    color: white;
    background: #1f1f1f;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.form label {
    margin-left: 30px;
    font-size: 20px;
}

.form input {
    margin: 10px auto 0 auto;
    display: block;
    width: 80%;
    padding: 8px;
    background-color: rgb(80, 80, 80);
    border: none;
    outline: none;
    color: white;
}

.form .submit {
    border-radius: 25px;
    font-size: 1rem;
    color: white;
    border: 2px solid transparent;
    background-color: rgb(29,97,194);
    margin-top: 30px;
    cursor: pointer;
}
.close_btn {
    position: absolute;
    width: 15px;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
    height: 1px; /* Height of the scrollbar */
  }

::-webkit-scrollbar-track {
    background: #ffffff;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }
  h5 {
    color: rgb(29,97,194);
  }

  .sidebar-text {
    margin: 10px 0;
    font-size: 1.2em;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    position: relative;
  }
  
  .sidebar-text::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0px;
    left: 0;    
    background-color: rgb(29,97,194);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
  }
  
  .sidebar-text:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }

  .direct-messaging{
    color:#1f1f1f
  }

  .empty-conversation{    
    width: 50vw;
    height: 10vh;
    display: flex;
    align-items: center;
    margin-left: 20px;
  }