*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container-flex{
    display: flex;
    height: 100vh;
    width: 100vw;    
}

.main-left{
background-color: rgb(29,97,194);
width: 30vw;
display: flex;
align-items: center;
justify-content: center;
}

.main-left-content{
display: flex;
align-items: center;
justify-content: center;
color: white;
}

.main-left-content-title{
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
}

.main-left-content-list{
    font-size: 1em;
    padding: 5px;
    margin-left: 10px;
}

.main-right{
    width: 70vw;
    display: flex;
    align-items: center;
    background-color: white;
}

.main-right-content{    
    height: 80vh;
    width: 25vw;
    border-radius: 10px;
    padding: 30px; 
    margin-left: 8vw;
    border: 2px solid white;
}

.main-right-content-title{
    font-size: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    color: rgb(39, 43, 48);
}

.main-right-content-text{
    font-size: 0.7em;
    letter-spacing: 0.5px;
    opacity: 0.5;
    font-family: Georgia, Times;
    font-weight: 700;
    color: rgb(39, 43, 48);
    margin: 10px 0;
}

.main-right-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.main-right-quick-login-button{
    height: 8vh;
    width: 10vw;
    border: 2px solid rgb(245, 244, 245);
    background-color: rgb(250,250,250);
    color: rgb(150,150,150);
    border-radius: 10px;
}

.main-right-form{    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.main-right-form-input{
    height: 8vh;
    width: 22vw;    
    margin: 5px;
    padding-left: 30px;
}

.main-right-submit-login-button{    
    margin: 5px;
    height: 7vh;
    width: 22vw;
}

.main-right-form-label{
    width: 100%;
    text-align: left;
    font-size: 0.7em;
    font-weight: bold;
    margin-bottom: -5px;
    margin-left: 10px;
}

.main-right-form-warning{
    color: red;
}




ul{
    list-style-type: none;
}

li::before {
    content: "\2705";
    margin-right: 10px;
    font-size: 20px;
    background-color: green;
    color: white;
    border-radius: 10em;
    
    width: 1em;
    height: 1em;
    text-align: center;
    line-height: 1.5;    
  }